*{
    --warmblack: #104242;
    --darkblack: #040F0F;
    --darklight-blue: #57737A;
    --Celeste: #C2FCF7;
    --Midnight: #85BDBF;
}

body {
    background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-size: cover;
}



article {
    font-size: 26pt;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}


ul {
    list-style-type:none;

}   

li {
    float: right;
    display: inline;
}

li a {
    font-size: 20pt;
    color: var(--Celeste);
    text-decoration: none;
    display: block;
    padding: 8px;
}


/* figure a { 
    line-height: 0; 
    font-size: 0;
    color: transparent;
} */


h1 {
    font-size: 56pt;
    text-align: center;
    padding-top: 25px;
    color: var(--Celeste);
}

h3 {
    font-size: 24pt;
    color: var(--Celeste);
    margin-left: 18px;
}

#infoHouse {
    margin: auto;
    padding: auto;
}

div p {
    margin: auto;
    padding: auto;
    color: var(--Midnight);
    font-size: 22pt;
    
}


/* #hover{
    position: relative;
    width: 50%;
    max-width: 300px;
} */


/* .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} */


#hero {
    display: block;
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}


/* .myImgs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    
} */

#img1{
    height: 200px;
    width: 10px;    
    margin: auto;
    padding: auto;
    /* Z index
    hover effects
    /* border*/
}


#img2 {
    height: 200px;
    width: 1000px;
    margin: auto;
    padding: auto;
    /* margin-left: 170px; */
    /* Z index
    hover effects
    border */
}


#img3 {
    height: 200px;
    width: 600px;
    margin: auto;
    padding: auto;
    /* animation: pulse 2s infinite; */
    /* margin: 20px; */
    /* padding: 5px; */
    /* Z index
    hover effects
    border */
}


#img4 {
    height: 200px;
    width: 600px;
    margin: auto;
    padding: auto;
    /* Z index
    hover effects
    border */
}

.links {
    text-decoration: none;
    margin: auto;
    padding: 5%;
}
/* aside p {
    font-weight: bold;
}

aside {
    border: 15px solid var(--warmblack);
    border-radius: 5%;
    float: right;
    height: 750px;
    margin-bottom: 200px;
}


#artc {
    display: flex;
    color: var(--Midnight); 
} */


/* [data-aos="example-anim3"] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
} */


#theContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
    padding: auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: var(--darklight-blue);
    color: var(--darkblack);
    font-size: 24px;
    padding: 16px 32px;
}