*{
    --warmblack: #104242;
    --darkblack: #040F0F;
    --darklight-blue: #57737A;
    --Celeste: #C2FCF7;
    --Midnight: #85BDBF;
}

body {
    background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-size: cover;
}



article {
    font-size: 10pt;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}


ul {
    list-style-type:none;

}   

li {
    float: right;
    display: inline;
}

li a {
    display: block;
    padding: 8px;
}


h1 {
    font-size: 56pt;
    text-align: center;
    padding-top: 25px;
    color: var(--Celeste);
}

h3 {
    color: var(--Celeste);
    margin-left: 18px;
}

div p {
    color: var(--Midnight);
    font-size: 24px;
    
}


/* #hover{
    position: relative;
    width: 50%;
    max-width: 300px;
} */


/* .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} */


#hero {
    display: block;
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}


.myImgs {

    /* flex-direction: row; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    
}

#img1{
    margin: auto;
    padding: 5%;
    /* Z index
    hover effects
    /* border*/
}


#img2 {
    margin: auto;
    padding: 5%;
    /* margin-left: 170px; */
    /* Z index
    hover effects
    border */
}


#img3 {
    margin: auto;
    padding: auto;
    /* animation: pulse 2s infinite; */
    /* margin: 20px; */
    /* padding: 5px; */
    /* Z index
    hover effects
    border */
}


#img4 {
    margin: auto;
    padding: auto;
    /* Z index
    hover effects
    border */
}


/* aside p {
    font-weight: bold;
}

aside {
    border: 15px solid var(--warmblack);
    border-radius: 5%;
    float: right;
    height: 750px;
    margin-bottom: 200px;
}


#artc {
    display: flex;
    color: var(--Midnight); 
} */


/* [data-aos="example-anim3"] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
} */